<!DOCTYPE html>
<html>
	<header>
		<% include ./partials/head %>
	</header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" id="inputLoc">
			<input type="text" name='title' placeholder='Intro to HTML'>
			<input type="text" name='subject' placeholder='HTML'>
			<input type="text" name='link' placeholder='www.html.com'>
			<input type="submit" value="Submit">
		</form>



		<% include ./partials/scripts %>
  </body>
</html>
